#createAccountButton{
    -fx-background-color: transparent;
}
#createAccountButton:hover{
    -fx-underline: true;
}
#leftAnchorPane{
    -fx-background-color: #7b91d1;
}
#logInButton{
    -fx-background-color: transparent;
}
#logInButton:hover{
    -fx-underline: true;
}
#welcomeLabel{
    -fx-alignment: center;
    -fx-font-size: 24;
}